.site {
    margin-top: 30px;
    margin-left: 60px;
}

.search-logo {
    width: 100px;
    height: 100px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}